<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
              http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<context:property-placeholder
		properties-ref="defaultValues" />

	<bean id="defaultValues"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="spring.outputDataSource.driver.class"></prop>
				<prop key="spring.outputDataSource.url"></prop>
			</props>
		</property>
	</bean>

	<bean id="jdbcBatchWrite" class="com.writer.JdbcBatchWriter">
		<property name="dataSource" ref="outputDataSource" />
		<property name="retryOnErrorInBatchWriting" value="true" />
		<property name="sql">
			<value><![CDATA[
		 merge into target_profile using dual on (user_id= :userId) when matched then update set profile_id= :profile
		 when not matched then insert (user_id,profile_id) values (:userId,:profile)
		 ]]></value>
		</property>
	</bean>

	<bean id="outputDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${spring.outputDataSource.driver.class}" />
		<property name="url" value="${spring.outputDataSource.url}" />
	</bean>

	<jdbc:initialize-database data-source="outputDataSource">
		<jdbc:script location="classpath:jobs/schema-target.sql" />
	</jdbc:initialize-database>

</beans>